* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Inter", sans-serif;
}

body {
    background: #09090b;
    color: #e4e4e7;
    padding: 60px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

h1 {
    font-size: 32px;
    color: #fafafa;
    font-weight: bold;
}

span {
    color: #22c55e;
}

p {
    color: #71717a;
    margin: 10px;
}

textarea {
    resize: none;
    width: 100%;
    max-width: 640px;
    padding: 16px;
    border: 3px solid #27272a;
    border-radius: 16px;
    background: #141419;
    color: #fafafa;
    outline: none;
    margin-top: 20px;
}

button {
    width: 100%;
    max-width: 640px;
    background-color: #22c55e;
    color: #090909;
    font-size: 16px;
    border-radius: 10px;
    font-weight: bold;
    border: none;
    padding: 14px;
    cursor: pointer;
    margin-top: 10px;
}

#bloco-codigo {
    background-color: #141419;
    border: 3px solid #27272a;
    border-radius: 12px;
    padding: 16px;
    font-size: 14px;
    color: #22C55E;
    line-height: 2;
    overflow: auto;
}
#resultado-codigo {
    width: 100%;
    height: 100%;
    min-height: 350px;
    border: 3px solid #27272a;
    background-color: #141419;
    border-radius: 15px;

}

.container-resultado {
    display: flex;
    gap: 20px;
    width: 100%;
    max-width: 1200px;
    margin-top: 20px;
    align-items: flex-start;
}

.box-codigo,
.box-preview {
    flex: 1;
    display: flex;
    flex-direction: column;
}

#h2cod {
    margin-left: 13px;
}

.box-preview {
    margin-top: 10px;
}
